In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
merged_data = pd.read_csv('merged_data.csv')

In [3]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100480506 entries, 0 to 100480505
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   MovieID     int64
 1   CustomerID  int64
 2   Rating      int64
 3   RatingDate  object
dtypes: int64(3), object(1)
memory usage: 3.0+ GB

In [4]:
merged_data.head()

   MovieID  CustomerID  Rating  RatingDate
0        1     1488844       3  2005-09-06
1        1      822109       5  2005-05-13
2        1      885013       4  2005-10-19
3        1       30878       4  2005-12-26
4        1      823519       3  2004-05-03

movies.head()

In [244]:
movies.head()

,MovieID,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811

In [226]:
def get_hybrid_recommendations(input_value):
    if input_value.isdigit():
        # Input is a CustomerID
        CustomerID = int(input_value)
        if CustomerID in collaborative_recs:
            print("Collaborative Filtering Recommendations for CustomerID", CustomerID)
            for i, (movie_id, est_rating) in enumerate(collaborative_recs[CustomerID][:10]):
                movie_title = get_movie_title_from_id(movie_id)
                print(f"Recommendation {i+1}: Movie Title: {movie_title}, Movie ID: {movie_id}, Estimated Rating: {est_rating}")
        else:
            print(f"No collaborative filtering recommendations found for CustomerID {CustomerID}")
    else:
        # Input is a movie title or movie ID
        if input_value.isdigit():
            movie_id = int(input_value)
            movie_title = get_movie_title_from_id(movie_id)
        else:
            movie_title = input_value

        # Content-based filtering recommendations for a specific movie
        recommendations = get_recommendations_for_movie(movie_title)
        print("\nContent-Based Filtering Recommendations for '{}':".format(movie_title))
        for i, recommendation in enumerate(recommendations[:10]):
            print(f"Recommendation {i+1}: {recommendation}")

# Example usage:
input_value = input("Enter a Movie Title, Movie ID, or CustomerID: ")
get_hybrid_recommendations(input_value)

Enter a Movie Title, Movie ID, or CustomerID:  ironman

Content-Based Filtering Recommendations for 'ironman':
Recommendation 1: Vehicle 19
Recommendation 2: Memoir of a Murderer
Recommendation 3: Hangman
Recommendation 4: Replicant
Recommendation 5: 21 Bridges
Recommendation 6: The House That Jack Built
Recommendation 7: The Frozen Ground
Recommendation 8: Triple 9
Recommendation 9: The Postcard Killings
Recommendation 10: Kalifornia

In [5]:
import pandas as pd

# Provided movie data

movies=pd.read_csv('dataset.csv')
# Rename the 'id' column to 'movie_id' and assign it back to the DataFrame
movies = movies.rename(columns={'id': 'MovieID'})

# Convert dictionary to DataFrame
df = pd.DataFrame(movies)

# Convert release_date to datetime
df['release_date'] = pd.to_datetime(df['release_date'])

# Split genres into individual genres
df['genres'] = df['genre'].str.split(',')

# Select features for modeling
features = ['title', 'genres', 'original_language', 'popularity', 'release_date', 'vote_average', 'vote_count']
df_model = df[features]

# Print the processed DataFrame
print(df_model)

                                              title  \
0                          The Shawshank Redemption
1                       Dilwale Dulhania Le Jayenge
2                                     The Godfather
3                                  Schindler's List
4                            The Godfather: Part II
...                                             ...
9995                             The Last Airbender
9996                       Sharknado 3: Oh Hell No!
9997                                Captain America
9998  In the Name of the King: A Dungeon Siege Tale
9999                                         Domino

                                                 genres original_language  \
0                                        [Drama, Crime]                en
1                              [Comedy, Drama, Romance]                hi
2                                        [Drama, Crime]                en
3                                 [Drama, History, War]                en
4                                        [Drama, Crime]                en
...                                                 ...               ...
9995                       [Action, Adventure, Fantasy]                en
9996  [Action, TV Movie, Science Fiction, Comedy, Ad...                en
9997                     [Action, Science Fiction, War]                en
9998                [Adventure, Fantasy, Action, Drama]                en
9999                          [Thriller, Action, Crime]                en

      popularity release_date  vote_average  vote_count
0         94.075   1994-09-23           8.7       21862
1         25.408   1995-10-19           8.7        3731
2         90.585   1972-03-14           8.7       16280
3         44.761   1993-12-15           8.6       12959
4         57.749   1974-12-20           8.6        9811
...          ...          ...           ...         ...
9995      98.322   2010-06-30           4.7        3347
9996      12.490   2015-07-22           4.7         417
9997      18.333   1990-12-14           4.6         332
9998      15.159   2007-11-29           4.7         668
9999      16.482   2019-05-31           4.6         221

[10000 rows x 7 columns]

In [6]:
df.describe()

,MovieID,popularity,release_date,vote_average,vote_count
count,10000.000000,10000.000000,10000,10000.000000,10000.000000
mean,161243.505000,34.697267,2003-11-12 00:01:00.480000128,6.621150,1547.309400
min,5.000000,0.600000,1902-04-17 00:00:00,4.600000,200.000000
25%,10127.750000,9.154750,1997-02-27 18:00:00,6.100000,315.000000
50%,30002.500000,13.637500,2009-01-22 12:00:00,6.600000,583.500000
75%,310133.500000,25.651250,2016-01-14 00:00:00,7.200000,1460.000000
max,934761.000000,10436.917000,2022-07-13 00:00:00,8.700000,31917.000000
std,211422.046043,211.684175,NaN,0.766231,2648.295789

In [51]:
df_model.tail()

,title,genres,original_language,popularity,release_date,vote_average,vote_count
9995,The Last Airbender,"[Action, Adventure, Fantasy]",en,98.322,2010-06-30,4.7,3347
9996,Sharknado 3: Oh Hell No!,"[Action, TV Movie, Science Fiction, Comedy, Ad...",en,12.490,2015-07-22,4.7,417
9997,Captain America,"[Action, Science Fiction, War]",en,18.333,1990-12-14,4.6,332
9998,In the Name of the King: A Dungeon Siege Tale,"[Adventure, Fantasy, Action, Drama]",en,15.159,2007-11-29,4.7,668
9999,Domino,"[Thriller, Action, Crime]",en,16.482,2019-05-31,4.6,221

In [8]:
movies.head()

,MovieID,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811

In [9]:
# Replace NaN values with an empty string
df['overview'] = df['overview'].fillna('')
df['genre'] = df['genre'].fillna('')

In [10]:
movies.isnull().sum()

MovieID               0
title                 0
genre                 3
original_language     0
overview             13
popularity            0
release_date          0
vote_average          0
vote_count            0
dtype: int64

In [11]:
pip install tqdm

Requirement already satisfied: tqdm in ./myenv/lib/python3.11/site-packages (4.66.2)
Note: you may need to restart the kernel to use updated packages.

In [12]:
import pandas as pd
from tqdm import tqdm

# Assuming 'movies' is your movies dataset and 'merged_data' is your merged data
# Get the total number of rows for tqdm
total_rows = len(merged_data)

# Initialize tqdm to display progress
with tqdm(total=total_rows) as pbar:
    # Concatenate the two DataFrames along the 'MovieID' column and include all columns
    concatenated_data = pd.merge(movies, merged_data, on='MovieID', how='inner', suffixes=('_movies', '_merged'))
    pbar.update(total_rows)

# Display the concatenated DataFrame
print(concatenated_data)

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 100480506/100480506 [00:10<00:00, 9876312.24it/s]

          MovieID                                          title  \
0             278                       The Shawshank Redemption
1             278                       The Shawshank Redemption
2             278                       The Shawshank Redemption
3             278                       The Shawshank Redemption
4             278                       The Shawshank Redemption
...           ...                                            ...
24029944     2312  In the Name of the King: A Dungeon Siege Tale
24029945     2312  In the Name of the King: A Dungeon Siege Tale
24029946     2312  In the Name of the King: A Dungeon Siege Tale
24029947     2312  In the Name of the King: A Dungeon Siege Tale
24029948     2312  In the Name of the King: A Dungeon Siege Tale

                                   genre original_language  \
0                            Drama,Crime                en
1                            Drama,Crime                en
2                            Drama,Crime                en
3                            Drama,Crime                en
4                            Drama,Crime                en
...                                  ...               ...
24029944  Adventure,Fantasy,Action,Drama                en
24029945  Adventure,Fantasy,Action,Drama                en
24029946  Adventure,Fantasy,Action,Drama                en
24029947  Adventure,Fantasy,Action,Drama                en
24029948  Adventure,Fantasy,Action,Drama                en

                                                   overview  popularity  \
0         Framed in the 1940s for the double murder of h...      94.075
1         Framed in the 1940s for the double murder of h...      94.075
2         Framed in the 1940s for the double murder of h...      94.075
3         Framed in the 1940s for the double murder of h...      94.075
4         Framed in the 1940s for the double murder of h...      94.075
...                                                     ...         ...
24029944  A man named Farmer sets out to rescue his kidn...      15.159
24029945  A man named Farmer sets out to rescue his kidn...      15.159
24029946  A man named Farmer sets out to rescue his kidn...      15.159
24029947  A man named Farmer sets out to rescue his kidn...      15.159
24029948  A man named Farmer sets out to rescue his kidn...      15.159

         release_date  vote_average  vote_count  CustomerID  Rating  \
0          1994-09-23           8.7       21862     1673256       2
1          1994-09-23           8.7       21862      882735       2
2          1994-09-23           8.7       21862     2542972       2
3          1994-09-23           8.7       21862     1174202       1
4          1994-09-23           8.7       21862     2434480       1
...               ...           ...         ...         ...     ...
24029944   2007-11-29           4.7         668     1969084       3
24029945   2007-11-29           4.7         668      208724       1
24029946   2007-11-29           4.7         668     1713558       1
24029947   2007-11-29           4.7         668     2636875       5
24029948   2007-11-29           4.7         668     1203467       1

          RatingDate
0         2002-10-11
1         2005-06-24
2         2005-08-29
3         2005-06-30
4         2001-10-05
...              ...
24029944  2005-06-02
24029945  2004-08-02
24029946  2004-05-01
24029947  2004-03-28
24029948  2004-11-29

[24029949 rows x 12 columns]

In [13]:
concatenated_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24029949 entries, 0 to 24029948
Data columns (total 12 columns):
 #   Column             Dtype
---  ------             -----
 0   MovieID            int64
 1   title              object
 2   genre              object
 3   original_language  object
 4   overview           object
 5   popularity         float64
 6   release_date       object
 7   vote_average       float64
 8   vote_count         int64
 9   CustomerID         int64
 10  Rating             int64
 11  RatingDate         object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.1+ GB

In [14]:
concatenated_data.tail()

,MovieID,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count,CustomerID,Rating,RatingDate
24029944,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",en,A man named Farmer sets out to rescue his kidn...,15.159,2007-11-29,4.7,668,1969084,3,2005-06-02
24029945,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",en,A man named Farmer sets out to rescue his kidn...,15.159,2007-11-29,4.7,668,208724,1,2004-08-02
24029946,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",en,A man named Farmer sets out to rescue his kidn...,15.159,2007-11-29,4.7,668,1713558,1,2004-05-01
24029947,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",en,A man named Farmer sets out to rescue his kidn...,15.159,2007-11-29,4.7,668,2636875,5,2004-03-28
24029948,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",en,A man named Farmer sets out to rescue his kidn...,15.159,2007-11-29,4.7,668,1203467,1,2004-11-29

In [15]:
concatenated_data['overview'] = concatenated_data['overview'].fillna('')

In [16]:
concatenated_data.isnull().sum()

MovieID              0
title                0
genre                0
original_language    0
overview             0
popularity           0
release_date         0
vote_average         0
vote_count           0
CustomerID           0
Rating               0
RatingDate           0
dtype: int64

In [17]:
# Drop the specified columns from the concatenated DataFrame to create ratings_df
ratings_df = concatenated_data.drop(columns=['title', 'genre', 'original_language', 'overview', 'popularity', 'release_date', 'vote_average', 'vote_count', 'RatingDate'])

# Display the ratings_df DataFrame
print(ratings_df)

          MovieID  CustomerID  Rating
0             278     1673256       2
1             278      882735       2
2             278     2542972       2
3             278     1174202       1
4             278     2434480       1
...           ...         ...     ...
24029944     2312     1969084       3
24029945     2312      208724       1
24029946     2312     1713558       1
24029947     2312     2636875       5
24029948     2312     1203467       1

[24029949 rows x 3 columns]

In [18]:
# Assuming ratings_df contains the original dataset

# Step 1: Randomly select five ratings for each movie
random_ratings = ratings_df.groupby('MovieID').apply(lambda x: x.sample(n=5, random_state=42))

# Step 2: Filter the dataset to keep only the selected ratings
filtered_ratings_df = ratings_df[ratings_df.index.isin(random_ratings.index)]

# Now, filtered_ratings_df contains data for all 10,000 movie titles with only five random user ratings for each movie.

/tmp/ipykernel_934/2228713374.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  random_ratings = ratings_df.groupby('MovieID').apply(lambda x: x.sample(n=5, random_state=42))

In [19]:
random_ratings.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 22040 entries, (5, 22270703) to (17710, 15496607)
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MovieID     22040 non-null  int64
 1   CustomerID  22040 non-null  int64
 2   Rating      22040 non-null  int64
dtypes: int64(3)
memory usage: 1.4 MB

In [20]:
random_ratings.tail()

                  MovieID  CustomerID  Rating
MovieID
17710   15496604    17710     2457583       3
        15496549    17710     1576975       2
        15496649    17710     1461667       3
        15496609    17710     2074041       1
        15496607    17710     2075696       2

In [21]:
#pip install surprise

In [22]:
#pip install scikit-surprise

In [23]:
from surprise.model_selection import KFold, train_test_split
from surprise.accuracy import rmse, mae
from surprise import Reader, Dataset, SVD
from tqdm import tqdm

# Subsample the ratings_df DataFrame
sampled_ratings_df = random_ratings

# Load the dataset into Surprise's format
reader = Reader(rating_scale=(1, 10))
data = Dataset.load_from_df(sampled_ratings_df[['CustomerID', 'MovieID', 'Rating']], reader)

# Use the SVD algorithm
algo = SVD()

# Define the number of folds
kf = KFold(n_splits=5)

# Initialize lists to store results
rmse_list = []
mae_list = []

# Initialize dictionary to store collaborative recommendations
collaborative_recs = {}

# Perform cross-validation with progress display
with tqdm(total=5, desc='Cross-validation') as pbar:  # 5-fold cross-validation
    for trainset, testset in kf.split(data):
        # Train the algorithm
        algo.fit(trainset)
        
        # Generate recommendations for test set
        testset_user_ids = set([uid for uid, _, _ in testset])
        for user_id in testset_user_ids:
            # Get recommendations for the current user
            user_recs = algo.test([(user_id, iid, None) for iid in sampled_ratings_df['MovieID'].unique()])
            # Store recommendations in the dictionary
            collaborative_recs[user_id] = [(int(pred.iid), pred.est) for pred in user_recs]
        
        # Split the data into train and test sets
        trainset, testset = train_test_split(data, test_size=0.2)
        
        # Predict ratings for test set
        predictions = algo.test(testset)
        
        # Compute and store RMSE and MAE
        rmse_list.append(rmse(predictions))
        mae_list.append(mae(predictions))
        
        # Update progress bar
        pbar.update(1)

# Calculate average RMSE and MAE
avg_rmse = sum(rmse_list) / len(rmse_list)
avg_mae = sum(mae_list) / len(mae_list)

# Print results
print("Average RMSE:", avg_rmse)
print("Average MAE:", avg_mae)

Cross-validation:  20%|█████████████████████████▏                                                                                                    | 1/5 [03:31<14:06, 211.54s/it]

RMSE: 0.8571
MAE:  0.6913

Cross-validation:  40%|██████████████████████████████████████████████████▍                                                                           | 2/5 [08:55<13:52, 277.64s/it]

RMSE: 0.8720
MAE:  0.7040

Cross-validation:  60%|███████████████████████████████████████████████████████████████████████████▌                                                  | 3/5 [16:08<11:37, 348.52s/it]

RMSE: 0.8729
MAE:  0.7060

Cross-validation:  80%|████████████████████████████████████████████████████████████████████████████████████████████████████▊                         | 4/5 [24:49<06:56, 416.82s/it]

RMSE: 0.8703
MAE:  0.7002

Cross-validation: 100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 5/5 [34:50<00:00, 418.12s/it]

RMSE: 0.8685
MAE:  0.7004
Average RMSE: 0.8681714098244072
Average MAE: 0.700397758417764

In [219]:
# Access recommendations for a specific customer (for example, customer with ID 123)
customer_id = 1461667
if customer_id in collaborative_recs:
    print("Recommendations for Customer", customer_id)
    for i, (movie_id, est_rating) in enumerate(collaborative_recs[customer_id][:10]):
        print(f"Recommendation {i+1}: Movie ID {movie_id}, Estimated Rating {est_rating}")
else:
    print(f"No recommendations found for customer with ID {customer_id}")

No recommendations found for customer with ID 1461667

In [220]:
# Extract only the movie IDs from collaborative recommendations
movie_ids_collaborative = set()
for recs in collaborative_recs.values():
    movie_ids_collaborative.update(recs)

# Print a small list of movie IDs present in collaborative recommendations
print("Movie IDs Present in Collaborative Recommendations:", list(movie_ids_collaborative)[:10])

Movie IDs Present in Collaborative Recommendations: [(11905, 2.8096243817692423), (9702, 3.5236436218145584), (11654, 2.967967383387211), (6346, 2.849841725667574), (4108, 2.8557097736832224), (9257, 3.363232092543531), (395, 3.5643663516076463), (1696, 3.425585549370321), (16234, 3.4128069669442587), (1610, 3.516716020358875)]

In [222]:
# Print a few CustomerIDs from the dataset
print("Sample CustomerIDs:")
for customer_id in sampled_ratings_df['CustomerID'].unique()[:100]:
    print(customer_id)

Sample CustomerIDs:
1773018
1435417
592122
2436412
77747
334429
152955
2542463
266808
2312192
713544
766434
1559022
1113503
1438614
2479015
1217301
2438832
1216755
2291170
1526236
407560
2513009
506757
2522018
2198754
1079992
15294
840644
1133807
2457095
969982
1474804
2018665
1379819
1865396
704069
135625
433647
992021
824434
465038
528661
1618112
117065
885323
2512235
912197
559470
952156
1037245
1132985
964320
118914
2120912
462584
1254903
842185
897130
774018
2389769
2068869
826849
2431045
2193332
1403217
1425157
923631
1430108
1849541
525356
2512456
1481083
178588
2645276
2240661
2297136
769702
2176465
2638601
1399569
1017210
125713
1478543
845300
1530469
1120820
92849
830947
2046148
234593
522221
1226844
420350
1804938
1056502
1953804
983607
2618437
453831

In [223]:
# Access recommendations for a specific CustomerID (for example, CustomerID 123)
CustomerID = 830947
if CustomerID in collaborative_recs:
    print("Recommendations for CustomerID", CustomerID)
    for i, (movie_id, est_rating) in enumerate(collaborative_recs[CustomerID][:10]):
        print(f"Recommendation {i+1}: Movie ID {movie_id}, Estimated Rating {est_rating}")
else:
    print(f"No recommendations found for CustomerID {CustomerID}")

Recommendations for CustomerID 830947
Recommendation 1: Movie ID 5, Estimated Rating 3.7290679414473833
Recommendation 2: Movie ID 6, Estimated Rating 3.0081973422983808
Recommendation 3: Movie ID 11, Estimated Rating 3.526588398573328
Recommendation 4: Movie ID 12, Estimated Rating 3.5775231493959825
Recommendation 5: Movie ID 13, Estimated Rating 3.9153273524252343
Recommendation 6: Movie ID 14, Estimated Rating 3.3418318627781995
Recommendation 7: Movie ID 15, Estimated Rating 3.5510171835771636
Recommendation 8: Movie ID 16, Estimated Rating 3.497674968177725
Recommendation 9: Movie ID 17, Estimated Rating 3.6183950066226664
Recommendation 10: Movie ID 18, Estimated Rating 3.7006013327461433

In [24]:
##Content-Based Filtering Using TF-IDF

In [25]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in ./myenv/lib/python3.11/site-packages (1.4.1.post1)
Requirement already satisfied: numpy<2.0,>=1.19.5 in ./myenv/lib/python3.11/site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in ./myenv/lib/python3.11/site-packages (from scikit-learn) (1.12.0)
Requirement already satisfied: joblib>=1.2.0 in ./myenv/lib/python3.11/site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in ./myenv/lib/python3.11/site-packages (from scikit-learn) (3.3.0)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MovieID            10000 non-null  int64
 1   title              10000 non-null  object
 2   genre              10000 non-null  object
 3   original_language  10000 non-null  object
 4   overview           10000 non-null  object
 5   popularity         10000 non-null  float64
 6   release_date       10000 non-null  datetime64[ns]
 7   vote_average       10000 non-null  float64
 8   vote_count         10000 non-null  int64
 9   genres             9997 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(2), object(5)
memory usage: 781.4+ KB

In [62]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

# Define TF-IDF Vectorizer
tfidf = TfidfVectorizer(stop_words='english')

# Prepare the TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(df['overview'])

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

# Function to get recommendations based on cosine similarity
def get_recommendations(title, cosine_sim=cosine_sim, df=df):
    # Get the index of the movie that matches the title
    idx = df.index[df['title'] == title].tolist()[0]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return df['title'].iloc[movie_indices]

# Function to get recommendations for any movie
def get_recommendations_for_movie(title):
    return get_recommendations(title)

# Example usage: Get recommendations for a specific movie
movie_title = "The Dark Knight"
recommendations = get_recommendations_for_movie(movie_title)
print("Recommendations for '{}':".format(movie_title))
print(recommendations)

Recommendations for 'The Dark Knight':
1059       Batman: The Long Halloween, Part One
1101       Batman: The Long Halloween, Part Two
688                       The Dark Knight Rises
2410                                     Batman
5010                   Batman: The Killing Joke
342     Batman: The Dark Knight Returns, Part 2
709                                  The Batman
9434                             Batman Forever
655                  Batman: Under the Red Hood
4508                 Batman: Gotham by Gaslight
Name: title, dtype: object

In [67]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

# Convert titles in the DataFrame to lowercase and remove spaces
df['title_clean'] = df['title'].str.lower().str.replace(' ', '')

# Define TF-IDF Vectorizer
tfidf = TfidfVectorizer(stop_words='english')

# Prepare the TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(df['overview'])

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

# Function to get recommendations based on cosine similarity
def get_recommendations(title, cosine_sim=cosine_sim, df=df):
    # Clean the input title
    title_clean = title.lower().replace(' ', '')

    # Get the index of the movie that matches the title
    idx = df.index[df['title_clean'] == title_clean].tolist()[0]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return df['title'].iloc[movie_indices]

# Function to get recommendations for any movie
def get_recommendations_for_movie(title):
    return get_recommendations(title)

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
from tqdm import tqdm

# Define TF-IDF Vectorizer
tfidf = TfidfVectorizer(stop_words='english')

# Prepare the TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(df['overview'])

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

# Initialize dictionary to store content-based recommendations for all movies
content_based_recs = {}

# Function to get recommendations based on cosine similarity
def get_recommendations(title, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = df.index[df['title'] == title].tolist()[0]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return df['title'].iloc[movie_indices]

# Iterate over each movie title with progress display
with tqdm(total=len(df['title'])) as pbar:
    for title in df['title']:
        # Get recommendations for the current movie title
        recommendations = get_recommendations(title)
        
        # Store recommendations in the dictionary
        content_based_recs[title] = recommendations
        
        # Update progress bar
        pbar.update(1)

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 10000/10000 [01:11<00:00, 138.94it/s]

In [73]:
pip install fuzzywuzzy

Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0
Note: you may need to restart the kernel to use updated packages.

In [74]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
from fuzzywuzzy import fuzz

# Convert titles in the DataFrame to lowercase and remove spaces
df['title_clean'] = df['title'].str.lower().str.replace(' ', '')

# Define TF-IDF Vectorizer
tfidf = TfidfVectorizer(stop_words='english')

# Prepare the TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(df['overview'])

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

# Function to get recommendations based on cosine similarity
def get_recommendations(title, cosine_sim=cosine_sim, df=df):
    # Clean the input title
    title_clean = title.lower().replace(' ', '')

    # Initialize variables for fuzzy matching
    max_ratio = -1
    best_title = None

    # Find the best matching title using fuzzy matching
    for index, row in df.iterrows():
        ratio = fuzz.partial_ratio(title_clean, row['title_clean'])
        if ratio > max_ratio:
            max_ratio = ratio
            best_title = row['title']

    # Get the index of the best matching title
    idx = df.index[df['title'] == best_title].tolist()[0]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return df['title'].iloc[movie_indices]

# Function to get recommendations for any movie
def get_recommendations_for_movie(title):
    return get_recommendations(title)

/home/mp73467n/myenv/lib/python3.11/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [77]:
# Prompt the user to input a movie title
movie_title = input("Enter a movie title: ")

# Get recommendations based on the input movie title
recommendations = get_recommendations_for_movie(movie_title)
print("Recommendations for '{}':".format(movie_title))
print(recommendations)

Enter a movie title:  avengers

Recommendations for 'avengers':
96                    Avengers: Infinity War
3808       Next Avengers: Heroes of Tomorrow
1558              Captain America: Civil War
836                       Germany, Year Zero
8127    Attack on Titan II: End of the World
3696                          Captain Marvel
9014                               In Fabric
7715                                 Haunter
5203                    Thor: The Dark World
232       Doctor Who: The Time of the Doctor
Name: title, dtype: object

In [183]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
from fuzzywuzzy import fuzz
from tqdm import tqdm

# Convert titles in the DataFrame to lowercase and remove spaces
df['title_clean'] = df['title'].str.lower().str.replace(' ', '')

# Define TF-IDF Vectorizer
tfidf = TfidfVectorizer(stop_words='english')

# Prepare the TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(df['overview'])

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

# Function to get recommendations based on cosine similarity
def get_recommendations_with_progress(title, cosine_sim=cosine_sim, df=df):
    # Clean the input title
    title_clean = title.lower().replace(' ', '')

    # Initialize variables for fuzzy matching
    max_ratio = -1
    best_title = None

    # Find the best matching title using fuzzy matching
    for index, row in df.iterrows():
        ratio = fuzz.partial_ratio(title_clean, row['title_clean'])
        if ratio > max_ratio:
            max_ratio = ratio
            best_title = row['title']

    # Get the index of the best matching title
    idx = df.index[df['title'] == best_title].tolist()[0]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Store recommendations for the input movie title
    content_based_recs[title] = list(df['title'].iloc[movie_indices])

    # Return the top 10 most similar movies as a list
    return list(df['title'].iloc[movie_indices])

# Initialize content_based_recs dictionary to store recommendations for all movies
content_based_recs = {}

In [209]:

# Input box to get movie title from user
user_input = input("Enter a movie title: ")

# Get recommendations for the input movie title
recommendations = get_recommendations(user_input)

print("Recommendations based on", user_input, ":")
for recommendation in recommendations:
    print(recommendation)

Enter a movie title:  the dark knight

Recommendations based on the dark knight :
Batman: The Long Halloween, Part One
Batman: The Long Halloween, Part Two
The Dark Knight Rises
Batman
Batman: The Killing Joke
Batman: The Dark Knight Returns, Part 2
The Batman
Batman Forever
Batman: Under the Red Hood
Batman: Gotham by Gaslight

In [189]:

print("Type of content_based_recs_list:", type(content_based_recs))

Type of content_based_recs_list: <class 'dict'>

In [29]:
# Hybrid Recommendation System

In [200]:
# You have your data stored in `collaborative_recs` and `content_based_recs`

def hybrid_recommendations():
    # Get collaborative filtering recommendations
    collaborative = collaborative_recs  # Remove parentheses here
    
    # Get content-based recommendations
    content_based = content_based_recs  # Remove parentheses here
    
    # Combine recommendations, removing duplicates
    recommendations = list(set(collaborative + content_based))
    
    return recommendations

# Example usage:
hybrid_recs = hybrid_recommendations()
print("Hybrid Recommendations:", hybrid_recs)

Hybrid Recommendations: ['Batman Forever', 'Batman: The Killing Joke', 'Interstellar', 'Inception', 'Batman: Under the Red Hood', 'The Matrix', 'Batman', 'Batman: Gotham by Gaslight', 'Batman: The Dark Knight Returns, Part 2', 'The Dark Knight Rises', 'The Batman', 'Batman: The Long Halloween, Part Two', 'Batman: The Long Halloween, Part One']

In [198]:
# Check the number of unique movies based on 'MovieID'
num_unique_movies = df['MovieID'].nunique()
print("Number of unique movies:", num_unique_movies)

Number of unique movies: 10000

In [165]:
print("Type of collaborative_recs:", type(collaborative_recs))
print("Type of content_based_recs:", type(content_based_recs))

Type of collaborative_recs: <class 'list'>
Type of content_based_recs: <class 'pandas.core.series.Series'>

In [166]:
import pandas as pd

#content_based_recs is your pandas Series object
content_based_recs_list = content_based_recs.tolist()

# Now content_based_recs_list is a list containing the elements of content_based_recs

In [167]:
print("Type of collaborative_recs:", type(collaborative_recs))
print("Type of content_based_recs_list:", type(content_based_recs_list))

Type of collaborative_recs: <class 'list'>
Type of content_based_recs_list: <class 'list'>

In [228]:
def get_hybrid_recommendations(input_value):
    if input_value.isdigit():
        # Input is a CustomerID
        CustomerID = int(input_value)
        if CustomerID in collaborative_recs:
            print("Collaborative Filtering Recommendations for CustomerID", CustomerID)
            for i, (movie_id, est_rating) in enumerate(collaborative_recs[CustomerID][:10]):
                print(f"Recommendation {i+1}: Movie ID {movie_id}, Estimated Rating {est_rating}")
        else:
            print(f"No collaborative filtering recommendations found for CustomerID {CustomerID}")
    else:
        # Input is a movie title or movie ID
        if input_value.isdigit():
            movie_id = int(input_value)
            movie_title = get_movie_title_from_id(movie_id)
        else:
            movie_title = input_value

        # Content-based filtering recommendations for a specific movie
        recommendations = get_recommendations_for_movie(movie_title)
        print("\nContent-Based Filtering Recommendations for '{}':".format(movie_title))
        print(recommendations)

# Example usage:
input_value = input("Enter a Movie Title, Movie ID, or CustomerID: ")
get_hybrid_recommendations(input_value)

Enter a Movie Title, Movie ID, or CustomerID:  avengers

Content-Based Filtering Recommendations for 'avengers':
['Avengers: Infinity War', 'Next Avengers: Heroes of Tomorrow', 'Captain America: Civil War', 'Germany, Year Zero', 'Attack on Titan II: End of the World', 'Captain Marvel', 'In Fabric', 'Haunter', 'Thor: The Dark World', 'Doctor Who: The Time of the Doctor']

In [233]:
# Example usage:
input_value = input("Enter a Movie Title, Movie ID, or CustomerID: ")
get_hybrid_recommendations(input_value)

Enter a Movie Title, Movie ID, or CustomerID:  842185

Collaborative Filtering Recommendations for CustomerID 842185
Recommendation 1: Movie ID 5, Estimated Rating 3.5217015557248486
Recommendation 2: Movie ID 6, Estimated Rating 2.9403227586983034
Recommendation 3: Movie ID 11, Estimated Rating 3.4974246481248317
Recommendation 4: Movie ID 12, Estimated Rating 3.713118145679294
Recommendation 5: Movie ID 13, Estimated Rating 3.780180529747466
Recommendation 6: Movie ID 14, Estimated Rating 3.5610813138871187
Recommendation 7: Movie ID 15, Estimated Rating 3.565470606774091
Recommendation 8: Movie ID 16, Estimated Rating 3.35572210272161
Recommendation 9: Movie ID 17, Estimated Rating 3.50410416520919
Recommendation 10: Movie ID 18, Estimated Rating 3.4703688422766024

In [261]:
# Example usage:
input_value = input("Enter a Movie Title, Movie ID, or CustomerID: ")
get_hybrid_recommendations(input_value)

Enter a Movie Title, Movie ID, or CustomerID:

Content-Based Filtering Recommendations for '':
['In Hell', 'Sherlock Jr.', 'Escape Plan', 'Demolition', 'Brubaker', 'The Chorus', 'The 40 Year Old Virgin', 'One Shot', 'Cool Hand Luke', 'Toy Story 3']

In [270]:
# Example usage:
input_value = input("Enter a Movie Title, Movie ID, or CustomerID: ")
get_hybrid_recommendations(input_value)

Enter a Movie Title, Movie ID, or CustomerID:  ipman

Content-Based Filtering Recommendations for 'ipman':
['Vehicle 19', 'Memoir of a Murderer', 'Hangman', 'Replicant', '21 Bridges', 'The House That Jack Built', 'The Frozen Ground', 'Triple 9', 'The Postcard Killings', 'Kalifornia']